/* step_1 */
/* img {
  -webkit-mask:paint(blob);
  --n:15;  // 传递给 paint 的变量 
}*/

/* step_2 */
/* 引入一个新的 CSS 变量 B */
/* https://www.cnblogs.com/guangzan/p/14021662.html */
@property --b{
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

img {
  border-radius:50%;
  cursor:pointer;
  -webkit-mask:paint(blob);
  --n:20;
  --b:0;
  transition:--b .5s;
}
img:hover {
  /* --b:100 */
  /* --v style 传入 */
  --b:var(--v) 
}

body {
  background:pink;
}